/* CSS 초기화 */
/* 전체 선택자 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
}
body {
  font-family:
    "Pretendard Variable",
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Malgun Gothic",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* line-height: 1.6; */
  /* line-height: 160%; */
  /* letter-spacing: -0.02em; */
  color: #000;
  background-color: #fff;
}

/* 그룹 선택자 */
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
img {
  border: 0;
  vertical-align: middle;
}
button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
}

/* 공통 스타일 */
/* 클래스 선택자: "."으로 시작 */
.wrap {
  width: 100%;
}
section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: cadetblue; */
}
.inner {
  width: 100%;
  max-width: 928px;
  height: 100%;
  /* background-color: #fff; */
}
.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -0.5px;
}
.section-title em {
  font-weight: 400;
  font-style: normal;
}

/* 헤더 영역 시작 */
.header {
  width: 100%;
  height: 130px;
  padding-top: 20px;
  padding-bottom: 10px;
  /* background-color: lightblue; */

  /* Figma Auto layout */
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .inner {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4px 0px 8px;
}

.logo {
  display: block;
  width: 139px;
  height: 24px;
  font-size: 0;
  /* text-indent: -999px; */
}
.logo img {
  width: 100%;
  object-fit: contain;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-list {
  /* ul.menu-list */
  /* Auto layout */
  display: flex;
  gap: 40px;
  align-items: center;
  /* background: #bebebe; */
}
.menu-list li a {
  font-size: 20px;
  font-weight: 700;
  color: #333;
}
.home {
  display: block;
  width: 24px;
  height: 24px;
  /* background-color: aqua; */
  background-image: url("../assets/icons/main_black_ico.png");
  /* background-repeat: repeat-y; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-indent: -999px;
  /* font-size: 0; */
}

.nav-utils {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-pick {
}
.main-pick {
  width: 32px;
  height: 32px;
}
.main-pick img {
  width: 100%;
  object-fit: contain;
}
.main-pick-bubble {
}
.main-search {
  width: 32px;
  height: 32px;
  /* background-image: url("../assets/icons/search_btn_bk.png"); */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  /* background-size: contain; */
  background: url("../assets/icons/search_btn_bk.png") no-repeat center;
  background-size: contain;
}

/* 헤더 영역 끝 */

/* 메인 영역 시작 */
.main {
  width: 100%;
  /* background-color: wheat; */
}

.hero {
  width: 100%;
  height: 658px;
  /* background-color: violet; */
}
.hero .main-visual {
  position: relative;
  width: 100%;
  height: 100%;
}
.hero .main-visual::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -16px;
  display: block;
  /* width: 100%; */
  height: 20px;
  /* background-color: brown; */
  background-color: #fff;
  z-index: 1;
}
.hero .main-visual::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  display: block;
  /* width: 100%; */
  height: 123px;
  background: url("../assets/images/bg_wave.png") no-repeat center;
  background-size: 100% 100%;
  z-index: 1;
}

.hero .main-visual .main-visual-bg {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("../assets/images/slide_1.png") no-repeat center;
  background-size: cover;
  /* Figma: Effect -> Layer blur */
  filter: blur(3px);
  transition: background-image 0.2s ease-in-out;
}
.hero .main-visual .main-visual-bg::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

/* 슬라이드 영역 */
.visual-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  max-width: 1320px;
  /* background-color: #d9d9d9; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Swiper 라이브러리로 대체 */
.sw-hero {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1088px;
  /* background-color: #fff; */
}
.swiper-slide {
  position: relative;
  width: 100%;
  height: 100%;
}
.swiper-slide a {
  display: flex;
  gap: 100px;
  width: 100%;
}
.slide-image {
  width: 100%;
  height: 100%;
  max-width: 528px;
  max-height: 660px;
}
.slide-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.info-box {
  position: relative;
  flex: 1;
  padding-top: 110px;
}
.slide-title {
  position: relative;
  margin-bottom: 24px;
}
.sort {
  position: relative;
  margin-bottom: 20px;
}
.bage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 0 20px;
  height: 36px;
  background-color: #7a45e5;
  font-weight: 700;
  color: #fff;
  border-radius: 25px;
  letter-spacing: 0;
}
.location {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}
.location img {
  width: 15px;
  height: 18px;
  object-fit: contain;
}
.location span {
  font-size: 18px;
  color: #fff;
  /* letter-spacing: 0; */
}
.slide-title-head {
  font-size: 40px;
  font-weight: 800;
  color: #fff;
  /* letter-spacing: 0; */
}

.main-schedule {
  position: relative;
  margin-bottom: 20px;
}
.main-schedule span {
  font-size: 18px;
  color: #fff;
}

.explain {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 20px;
  border-top: 1px solid #80808a;
}
.explain li {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
}
.explain li::before {
  content: "";
  display: block;
  width: 5px;
  height: 1px;
  background-color: #fff;
}

.hero-prev-btn {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 64px;
  height: 64px;
  z-index: 10;
}
.hero-prev-btn img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0;
}

.hero-next-btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 64px;
  height: 64px;
  z-index: 10;
}
.hero-next-btn img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0;
}
.hero-prev-btn .on,
.hero-next-btn .on {
  opacity: 1;
  transition: opacity 0.2s;
}
.hero-prev-btn .off,
.hero-next-btn .off {
  opacity: 0;
  transition: opacity 0.2s;
}
.hero-prev-btn.swiper-button-disabled,
.hero-next-btn.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.sw-hero .pagination {
  position: absolute;
  left: calc(50% + 140px);
  top: 465px;
  z-index: 100;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
  align-items: center;
}
.sw-hero .pagination .play-stop-btn {
  position: relative;
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 0, 0.5) url("../assets/icons/slide_stop.png") no-repeat
    center;
  background-size: 8px 10px;
  text-indent: -9999px;
  border-radius: 50%;
}
.sw-hero .pagination .swiper-pagination {
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 65px;
  height: 30px;
  border-radius: 20px;
  font-size: 14px;
  color: #fff;
}
.sw-hero .pagination .swiper-pagination .swiper-pagination-current {
  /* color: #fff; */
  font-weight: 700;
}
.sw-hero .pagination .swiper-pagination .swiper-pagination-total {
  /* color: #fff; */
}

/* 추천축제 키워드 영역 */
.keywords {
  position: relative;
  width: 100%;
  height: 85px;
  /* background-color: yellow; */
}
.keywords .inner {
  position: relative;
}
.keywords .keywords-wrap {
  position: absolute;
  top: -20px;
  left: 0;
  z-index: 10;
}

.keywords .keywords-wrap ul {
  position: relative;
  margin-top: 27px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.keywords .keywords-wrap ul li {
  position: relative;
}
.keywords .keywords-wrap ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  padding: 0 16px;
  color: #80808a;
  border: 1px solid #80808a;
  border-radius: 20px;
}
.keywords .keywords-wrap ul li:hover a {
  background-color: #7a45e5;
  color: #fff;
}

.rank {
  position: relative;
  width: 100%;
  padding-top: 65px;
  /* background-color: steelblue; */
}
.rank-wrap {
  position: relative;
  width: 100%;
  max-width: 1040px;
  padding-bottom: 105px;
  display: flex;
  justify-content: center;
  background: url("../assets/images/img_keyword.png") left bottom no-repeat;
  background-size: 342px 284px;
}
.rank .inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.rank-list-wrap {
  position: relative;
  display: flex;
  width: calc(100% - 320px);
  padding-top: 50px;
}
.rank-list-wrap > ul {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.rank-list-wrap > ul:first-child {
  padding-right: 64px;
}
.rank-list-wrap > ul:last-child {
  padding-left: 64px;
}
.rank-list-wrap > ul > li {
  position: relative;
  display: flex;
  align-items: center;
  gap: 11px;
}
.rank-list-wrap > ul > li > .num {
  font-size: 14px;
}
.rank-list-wrap > ul > li > a {
  font-size: 20px;
}

.festival {
  width: 100%;
  height: 507px;
  padding-top: 65px;
  background-color: tomato;
}
.alio {
  width: 100%;
  height: 391px;
  padding-top: 65px;
  background-color: slategrey;
}
.banner {
  width: 100%;
  height: 229px;
  padding-top: 65px;
  background-color: chocolate;
}
.theme {
  width: 100%;
  height: 262px;
  padding-top: 65px;
  padding-bottom: 80px;
  background-color: sandybrown;
}
/* 메인 영역 끝 */

/* 푸터 영역 시작 */
.footer {
  width: 100%;
  height: 206px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: thistle;
}

/* 푸터 영역 끝 */

/* 태그(타입) 선택자 */
/* 클래스 선택자 > 태그 선택자 */
/* header {
  background-color: blueviolet;
} */
